<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap" rel="stylesheet">;

body{
  background-color: white;
}

header{
  background-color: turquoise;
}
section{
  background-color: white;
}
aside, div{
  background-color: white;
}
footer{
  background-color: turquoise;
  text-align: center;

}
main{
  background-color: white;
}
p,h1,h2{
  padding: 1%;
}

p{
  font-family: 'Open Sans', sans-serif;
}

h1,h2{
  font-family: 'Oswald', sans-serif;
}
